*{
  margin: 0;
  padding: 0;
}
.menu{
width: 100%;
max-width: 100%;
min-width: 100px;
height: 8vh;
background-color: rgb(26, 29, 46);
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center; 
flex-wrap: wrap;
}
.menu a{
    color:#ffffff;
    font-size: 23px;
    text-decoration:none;
    position: relative;
}
a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;  
    left: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .img1 img{
    width: 100%;
    height: 100%;
    display: flex;
    height: 90vh;
}
.titulo1{
  text-align: center;
   color: black;
   background-color: rgb(67, 105, 155);
   font-family: 'Gill Sans', sans-serif;
   width: 100%;
   height: 75px;
   position: relative;
  }
.img2 img{
      width: 100%;
      opacity: 250%;
  }
.header-main{
    text-align: center;
    opacity: 100%;
    width: 100%;
    max-width: 2560px; min-width: 300px;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-top: -670px;
}
p{
    margin: 0;
  text-indent: 3ch;
  margin-bottom: 2em;
}
.curso{
  text-align: center;
   color: black;
   background-color: rgb(67, 105, 155);
   font-family: 'Gill Sans', sans-serif;
   width: 100%;
   height: 75px;
   position: relative;
  }
.mercado{
    text-align: center;
     color: black;
     background-color: rgb(67, 105, 155);
     font-family: 'Gill Sans', sans-serif;
     width: 100%;
     height: 75px;
     position: relative;
    }

.ingressar{
      text-align: center;
       color: black;
       background-color: rgb(67, 105, 155);
       font-family: 'Gill Sans', sans-serif;
       width: 100%;
       height: 90px;
       position: relative;
      }

.universidades{
        text-align: center;
         color: black;
         background-color: rgb(67, 105, 155);
         font-family: 'Gill Sans', sans-serif;
         width: 100%;
         height: 155px;
         position: relative;
        }

.grade{
          text-align: center;
           color: black;
           background-color: rgb(67, 105, 155);
           font-family: 'Gill Sans', sans-serif;
           width: 100%;
           height: 75px;
           position: relative;
          }
.pós{
            text-align: center;
             color: black;
             background-color: rgb(67, 105, 155);
             font-family: 'Gill Sans', sans-serif;
             width: 100%;
             height: 75px;
             position: relative;
            }
.crm{
          text-align: center;
               color: black;
               background-color: rgb(67, 105, 155);
               font-family: 'Gill Sans', sans-serif;
               width: 100%;
               height: 75px;
               position: relative;
       }
  footer{
    position: absolute;
    width: 100% ;
    height: 525px;
    left: 0px;
    top: 2500px;
    background: linear-gradient(180deg, rgba(31, 75, 94, 0.72) 0%, rgba(81, 140, 165, 0.83) 40.16%, rgba(168, 211, 240, 0.9) 90.97%);
  }
  
  .collumn1{
    position: absolute;
    width: 336px;
    height: 348px;
    left: 100px;
    top: 10px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #252525;
  }
  
  .collumn2{
    position: absolute;
    width: 292px;
    height: 285px;
    left: 685px;
    top: 100px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #252525;
  }
  
  .collumn3{
    position: absolute;
    width: 262px;
    height: 203px;
    left: 1200px;
    top:105px;
    font-family: 'Sarala';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 39px;
    color: #252525;
  }